      <footer role="contentinfo">
      2011 &copy; <a href="index.html" title="Racoon Bandit" rel="home">Racoon Bandit</a> &bull; <a href="wp-login.php.html">Log in</a>
      </footer><!-- footer -->
      <script type='text/javascript' src='wp-includes/js/comment-reply.min.js%3Fver=4.4.4'></script>
      <script type='text/javascript' src='wp-includes/js/wp-embed.min.js%3Fver=4.4.4'></script>
    </div> <!-- .page_container -->
    <!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet  -->
    <script>
     var _gaq = [['_setAccount', 'UA-1273755-37'], ['_trackPageview']];
     (function(d, t) {
      var g = d.createElement(t),
          s = d.getElementsByTagName(t)[0];
      g.async = true;
      g.src = '//www.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g, s);
     })(document, 'script');
    </script>
	</body>
</html>
